.main-element-knowledge {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    border: 2px solid white;
                    outline-offset: 4px;
                    outline: 4px solid darkorchid;
}
.btn-knowledge {
                    background-color: rgb(223, 72, 72); 
                    color: aliceblue;
                    transition: all ease-in 0.2s;
}
.btn-knowledge:hover, active {
                    background-color: rgb(152, 74, 207);
                    color: aliceblue;
                    scale: 1.15;
}