.aside-knowledge {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 250px;
                    height: 100vh;
                    color: aliceblue;
}
.aside-topic-knowledge{
                    border-bottom: 5px solid Indigo;
}
.nav-link img {
                    margin-right: 25px;
}
Link:hover {
                    background-color: Indigo;
                    color: aliceblue;
}