.main-firstpage {
   color: aliceblue;
   width: 100vw;
   height: 95vh;
   background-color: rgba(0, 0, 0, 1);
}
.profile-pic img {
     width: 500px;
     height: 500px;
}
.profile-head {
     font-size: 3.2em;
}
.profile-content {
     font-size: 1.6em;
}
.profile-link {
     font-size: 1.4em;
     background-color: Indigo;
     transition: all 0.1s;
     border : none;
}
.profile-link:hover {
     background-color: Indigo;
     outline-offset: 4px;
     outline: 4px solid Indigo;
     scale: 1.03;
}